PORT=3002
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
ZERO_G_PRIVATE_KEY=
ZERO_G_RPC=
ZERO_G_STORAGE_RPC=
ZERO_G_COMPUTE_ENDPOINT=
GEMINI_API_KEY=
FRONTEND_URL=
